/cs-CZ @adamkudrna

/de-DE @abaldeweg

/es-ES @timbergus @ezkato

/fr-FR @arnauddrain

/hi-IN @jaideepghosh

/it-IT @polettoweb

/pt-PT @danisal

/ru-RU @lex111 @Omhet

/sv-SE @m-hagberg

/tr-TR @berkayyildiz

/id-ID @ervinismu

/zh-Hant @ymcheung